<a href="https://colab.research.google.com/github/Wangsaa/Machine-Learning/blob/main/P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 1

* Pemrograman Dasar di Python

## Variable 
Deklarasi nilai ke dalam variabel

In [3]:
# input "B" kedalam variabel A
A = 8

print(A)
print("Output: ", A)

8
Output:  8

In [4]:
A = "8"
print(A)
print(type(A))
B = int(A)
print(B)
print(type(B))

8
<class 'str'>
8
<class 'int'>

In [10]:
# input nilai sebagai list
nilai = [70,80,90,100,85]
# nilai
print(nilai)

[70, 80, 90, 100, 85]

In [9]:
data = [80, "A","JONI"]
print (data)

[80, 'A', 'JONI']

## Conditional

In [14]:
if 7 == A:
    print("Nilai 7 sama dengan nilai A yang mana adalah",A)
else:
    print("Nilai 7 tidak sama dengan nilai A yang mana adalah", A)

Nilai 7 tidak sama dengan nilai A yang mana adalah 8

In [15]:
# mengecek nilai didalam list
if 70 in nilai:
    print("Ada nilai 70 didalam list")
else:
  print("tidak ada nilai didalam list")

Ada nilai 70 didalam list

## LOOPING
mengeksekusi nilai berdasarkan perulangan

In [17]:
#mencetak perkalian angka 2 dengan angka 0 sampai 10
for i in range(10):
  print(i*2)

0
2
4
6
8
10
12
14
16
18

## Function

In [1]:
# fungsi yang mencetak suatu nilai
def cetak_a():
    print("A")

#panggil fungsi cetak_a
cetak_a()

A

In [4]:
# fungsi yang mengembalikan suatu nilai dari suatu masukan
def cetak_pangkat_dua(x):
    x = x**2
    return x
# panggil_fungsi_cetak_pangkat_dua dengan inputan tertentu
cetak_pangkat_dua(6)

36

## Build-in  Function
Memanggil fungsi bawaan dari python

In [5]:
nilai = [70,80,90,100,85]
# memanggil fungsi len untuk mencetak jumlah item dari list
print(len(nilai))

#memanggil fungsi max untuk mencetak item terbesar dari list
print(max(nilai))

#untuk tahu fungsi bawaan dari library yang ada, perlu baca dokumentasinya

5
100

## Library
Sekumpulan code yang memiliki fungsi-fungsi tertentu dan daoat dipanggil kedalam program lain

In [6]:
#deklarasi library dengan fungsi yang ada didalamnya
import numpy as np

#inisialisasi vector dan nilai skalar
list1 = [1,2,3,4,5]
vtr1 = np.array(list1)
scalar_value(10)

#operasi perkalian vector-scalar
vtr_scalar = vtr1 * scalar_value
print(vtr_scalar)

NameError: ignored

In [7]:
#deklarasi library dengan menggunakan nama alias
import pandas as pd

#membuat variabel dataframe (df) dengan isi list nilai dan nama kolom "nilai"
df = pd.DataFrame(nilai, columns=["nilai"])
df #dataFrame

   nilai
0     70
1     80
2     90
3    100
4     85